#First_container
{
  position: relative;

}

#First_background
{ margin-top: 50px;
  border-end-start-radius: 100px;
  border-end-end-radius: 100px;
  /* position: absolute; */
  position: relative;

 }
    #logo{
      position: absolute;
      align:central;
      margin-top: 0px;
      margin-left: 180px;
      margin-right: 70px;
      margin-bottom: 50%;
    
      top: 11%;
      left: 30%;
      transform: translate(-50%, -50%);
    }


        /* Medical clinic central */
  #medical_clinic{
   
    border: 2px solid black;
    background-color: rgb(44, 115, 172);
    padding:30px;
    margin-left: 16%; 
    /* margin-bottom: 20%; */
    margin-right: 20%;
    color: aliceblue;
    font-weight: 800;
    font-size:xxx-large;
    border-top-left-radius: 100px;
    border-bottom-right-radius:100px ;
}
  #Lets{
    border: 2px solid black;
    background-color: rgb(80, 201, 234);
    padding:20px;
    margin-top: 0%;
    margin-left: 20%; 
    margin-bottom: 20%;
    margin-right: 20%;
    color: aliceblue;
    font-weight: 600;
    font-size:xxx-large;
    
  }
  #about{
    font-size: large;
    font-weight: 400;
  }
  #us{ 
    font-size: x-large;
    font-weight: 700;
   }
#inj{
  padding-left: 10%;
  margin-bottom: 0px;
  border-end-end-radius: 50px;
}
   #spec{
    font-size:x-large;
    font-weight: 400;
   }
   #covid{
    font-size:xx-large;
    
    font-weight: 600;

   }
   .three{
    align-self: center;
    height: 100px;
    width: 130px;
     padding-left: 30px;
     /* padding: 20px; */
    /*padding-right: 10spx; */
   }
   #three{
    margin-left: 70px;
    /* margin-right: 120px; */
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
   }
   #social{
    margin-left: 150px;
   }
   .socialm{
    padding: 0px;
    margin: 10px;
    margin-right: 20px;
    margin-bottom: 30px;

   }
   .color{
    color: rgb(86, 183, 198);
   }
   #our{
    padding-top: 20px;
    padding-left:150px;
    padding-right: 130px;
    padding-bottom: 30px;
    /* margin-top: 0px;   */
    margin-left: 0px;
    margin-bottom: 30px;
    margin-top: 0px;
    margin-right: 10px;
    background-color: rgb(86, 108, 196);
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: larger;
    border-top-left-radius: 60px;
  }
  #ours{
    
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 0px;
    margin-top: 0px;  
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 150px;
    background-color: rgb(86, 108, 196);
    color: rgb(255, 255, 255);
    /* font-weight: 600;
    font-size: larger;
    border-top-left-radius: 80px; */
    /* changes */
    background-color: aqua
  }
  .lorem{
    font-size:larger;
    font-weight: 400;
  }