#First_container
{
  position: relative;

}

#First_background
{ margin-top: 50px;
  border-end-start-radius: 100px;
  border-end-end-radius: 100px;
  /* position: absolute; */
 }
    #logo{
      /* margin-top: 100px;
      margin-left: 300px; */
      /* position: relative; */

      /* display: flex; */
      height:50px;
      width: 50px;
      position: absolute;
      margin-top: 80px;
      margin-left: 100px;
      margin-right: 80px;
    
      top: 50%;
      left: 30%;
      transform: translate(-50%, -50%);
    }


        /* Medical clinic central */
  #medical_clinic{
   
    border: solid red;
    background-color: aqua;
    padding:30px;
    margin: 20%; */
}
#inj{
  padding-left: 10%;
  
  border-end-end-radius: 50px;
}
   